img{
   height:500px;
   width:500px;
}
.veggies{
    display:grid;
    padding:20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: antiquewhite;
    
}
h1{
 display:flex;
 justify-content: center;
    margin:100px;
   
    font-family: 'Kalam', cursive;
}
.herbal h2{
    
   text-align: center;
  }
.card-body{
    margin-left: 70px;
    margin-right: 50px;
    background-color: aqua;
}